<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.3arabik_bundle</string>
	<key>CFBundleName</key>
	<string>3arabik_bundle</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>KLInfo_3arabik</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.3arabik_bundle.3arabik</string>
		<key>TISIntendedLanguage</key>
		<string>ar</string>
	</dict>
</dict>
</plist>
